@model EMS_Full_Stack_App.Model.EmpProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmpProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeptMasterDeptCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeptMasterDeptCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmpCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
